/* .form-control input:focus {
  z-index: 1;
} */

.__input-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.__input-middle {
  margin-bottom: -1px;
  border-radius: 0 !important;
}

.__input-bottom {
  margin-bottom: -1px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.is-invalid {
  z-index: 1;
}

.__invalid {
  border: 1px solid #71180e !important;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #1f1f1f;
}
