.__link:hover {
  cursor: pointer;
  color: #198754 !important;
}

.__pointer {
  cursor: pointer;
}

.__clear-header {
  margin-top: 80px;
}

.__alert {
  margin: 6vh auto;
  width: 75%;
}

td.__button-cell {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

tr.text-muted td,
tr.text-muted th {
  color: inherit;
}
